/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.specialColor {
  color: var(--ifm-color-primary);
}

.textContainer {
  width: 40%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.githubStars {
  display: flex;
  margin-top: 20px;
}

.githubStarsButton {
  border: none;
  margin-left: 24px;
  overflow: hidden;
}

.logo {
  width: 550px;
}

@media screen and (max-width: 996px) {
  .logo {
    margin-top: 50px;
  }
  .textContainer {
    width: 100%;
  }
}
